@import "../css/index.css";

input:disabled {
    border: none;
    color: #000;
    background-color: transparent;
}

.taskCategoryDiv {
    background-color: lightpink;
    border-style: solid;
}


.multiMonthCalendarDisplay {
    background-color: whitesmoke;
    padding-left: 2vw;
    padding-right: 2vw;
}

.wrapper {
    background-color: black;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    grid-gap: 1px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper > * {
    background-color: burlywood;
}

.container {
    display: flex;
}
