<nav>
    <div class = "appHeader">
        <%- include('../partials/_logo'); %>
        <div class="container">
            <div id = "dashboardButton_div">
                <form action="/dashboard">
                    <button type = "submit" class = "entryButton">Dashboard</button>
                </form>
            </div>
        
            <div id = "multiMonthCalendarButton_div">
                <form action="multiMonthCalendar">
                    <button type = "submit" class = "entryButton">&#x1F4C5 MMC</button>
                </form>
            </div>
        
            <div id = "weeklyTaskListButton_div">
                <form action="weeklyTaskList">
                    <button type = "submit" class = "entryButton">&#10004 WTL</button>
                </form>
            </div>
        
            <div id = "weeklyCalendar_div">
                <form action="weeklyCalendar">
                    <button type = "submit" class = "entryButton">&#x1F4C6 WC</button>
                </form>
            </div>
        
            <div id = "logoutButton_div">
                <form action="/" onsubmit="localStorage.clear()">
                    <button type = "submit" class = "entryButton">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>

