<div class = "appHeader">
    <form action="createAccount">
        <button type = "submit">Create Account</button>
    </form>

    <form action="login">
        <button type = "submit">Login</button>
    </form>

    <form action="/">
        <button type = "submit">Dashboard</button>
    </form>
    
    <form action="weeklyTaskList">
        <button type = "submit">Weekly Task List</button>
    </form>

    <form action="multiMonthCalendar">
        <button type = "submit">MultiMonth Calendar</button>
    </form>
</div>
