<div class = "appHeader">
    <%- include('../partials/_logo'); %>
    <form action="createAccount">
        <button type = "submit" class = "headerEntryButton">Create Account</button>
    </form>

    <form action="/">
        <button type = "submit" class = "headerEntryButton">Login</button>
    </form>
</div>