<div class = "appHeader">
    <form action="createAccount">
        <button type = "submit">Create Account</button>
    </form>

    <form action="/">
        <button type = "submit">Login</button>
    </form>
</div>
