<nav>
    <div class="appHeader flex-container">
        <%- include('../partials/_logo'); %>
        <div class="container">
            <div id="loginButton_div">
                <form action="/">
                    <button type="submit" class="entryButton">Login</button>
                </form>
            </div>
            <div id="createAccountButton_div">
                <form action="createAccount">
                    <button type="submit" class="entryButton">Create Account</button>
                </form>
            </div>
            <div id="aboutButton_div">
                <form action="about">
                    <button type="submit" class="entryButton">About</button>
                </form>
            </div>
        </div>
    </div>
</nav>
