<div class = "appHeader">
    <%- include('../partials/_logo'); %>
    <div id = "dashboardButton_div">
        <form action="/dashboard" class="row justify-content-center">
            <button type = "submit" class = "entryButton">Dashboard</button>
        </form>
    </div>

    <div id = "multiMonthCalendarButton_div">
        <form action="multiMonthCalendar" class = "row justify-content-center">
            <button type = "submit" class = "entryButton">MultiMonth Calendar</button>
        </form>
    </div>

    <div id = "weeklyTaskListButton_div">
        <form action="weeklyTaskList" class = "row justify-content-center">
            <button type = "submit" class = "entryButton">Weekly Task List</button>
        </form>
    </div>

    <div id = "logoutButton_div">
        <form action="/" class = "row justify-content-center">
            <button type = "submit" class = "entryButton">Logout</button>
        </form>
    </div>
</div>
