<div class = "appHeader">
    <%- include('../partials/_logo'); %>
    <div id = "dashboardButton_div">
        <form action="/dashboard" class = "row">
            <button type = "submit" class = "headerEntryButton col-md-4 offset-md-4">Dashboard</button>
        </form>
    </div>

    <div id = "multiMonthCalendarButton_div">
        <form action="multiMonthCalendar" class = "row">
            <button type = "submit" class = "headerEntryButton col-md-4 offset-md-4">MultiMonth Calendar</button>
        </form>
    </div>

    <div id = "weeklyTaskListButton_div">
        <form action="weeklyTaskList" class = "row">
            <button type = "submit" class = "headerEntryButton col-md-4 offset-md-4">Weekly Task List</button>
        </form>
    </div>

    <div id = "logoutButton_div">
        <form action="/" class = "row">
            <button type = "submit" class = "headerEntryButton col-md-4 offset-md-4">Logout</button>
        </form>
    </div>
</div>
