<div class = "appHeader flex-container">
    <%- include('../partials/_logo'); %>
    <div id = "createAccountButton_div" class = "row justify-content-center">
        <form action="createAccount">
            <button type = "submit" class = "entryButton">Create Account</button>
        </form>
    </div>
    <div id = "loginButton_div">
        <form action="/" class="row justify-content-center">
            <button type = "submit" class = "entryButton">Login</button>
        </form>
    </div>
</div>