<div id = "logo" class = "col-md-8 offset-md-2">
    <div id = "logoImage" class = "imgbox">
        <img class = "center-fit" src="../../public/images/logo-no-background.png" alt="Student schedule manager. Architect your future.">
    </div>
</div>
