<div id = "logo" class = "flex-container">
    <div>
        <h1>I pushed to Master and all I (automatically) got was this H1</h1>
    </div>
    <div id = "logoImage" class = "imgbox row align-items-center">
        <img class = "center-fit" src="../../public/images/logo-no-background-75.png" alt="Student schedule manager. Architect your future.">
    </div>
</div>
