<div class=WordSection1>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoTitle align=center style='text-align:center'>Student Schedule
        Manager</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoTitle align=center style='text-align:center'>User Guide</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoTocHeading>Contents</p>

    <p class=MsoToc1><a href="#_Toc121073417">1.<span style='font-family:"Calibri",sans-serif;
color:windowtext;text-decoration:none'>      </span>For New Users<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>2</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073418">Overview<span style='color:windowtext;
display:none;text-decoration:none'>.. </span><span
                style='color:windowtext;display:none;text-decoration:none'>2</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073419">The Theory<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>2</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073420">Login<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>2</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073421">Create Account<span style='color:
windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>3</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073422">Dashboard Layout<span
                style='color:windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>4</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073423">Dashboard Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>5</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073424">MMC Button<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>5</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073425">WTL Button<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>5</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073426">WC Button<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>5</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073427">Logout Button<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>5</span></a></p>

    <p class=MsoToc1><a href="#_Toc121073428">2.<span style='font-family:"Calibri",sans-serif;
color:windowtext;text-decoration:none'>      </span>Create a new MultiMonth
            Calendar<span style='color:windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>5</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073429">The 10,000-ft View<span
                style='color:windowtext;display:none;text-decoration:none'>.. </span><span
                style='color:windowtext;display:none;text-decoration:none'>5</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073430">Create a New MultiMonth Calendar<span
                style='color:windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>5</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073431">MultiMonth Calendar Screen<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>6</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073432">MultiMonth Calendar Navigation<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>6</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073433">Delete MMC Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>7</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073434">Check All Days Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>7</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073435">Edit Daily Info Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>7</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073436">Save MMC to DB Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>7</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073437">Daily Completion Checkboxes<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>7</span></a></p>

    <p class=MsoToc1><a href="#_Toc121073438">3.<span style='font-family:"Calibri",sans-serif;
color:windowtext;text-decoration:none'>      </span>Weekly Task List<span
                style='color:windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>8</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073439">What is a task?<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>8</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073440">Weekly Task List Screen<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>9</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073441">Weekly Task List Navigation<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>9</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073442">Save List to DB Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>9</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073443">Add Category Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>9</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073444">The List<span style='color:windowtext;
display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>9</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073445">Task Categories<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>10</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073446">Tasks<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>10</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073447">Interaction Tutorial<span
                style='color:windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>10</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073448">Edit Category Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>10</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073449">Delete Category Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>11</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073450">Edit Task Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>11</span></a></p>

    <p class=MsoToc3><a href="#_Toc121073451">Delete Task Button<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>11</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073452">Colors<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>11</span></a></p>

    <p class=MsoToc1><a href="#_Toc121073453">4.<span style='font-family:"Calibri",sans-serif;
color:windowtext;text-decoration:none'>      </span>Weekly Calendar<span
                style='color:windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>13</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073454">Making Work, School, and Free Time
            Visible<span style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>13</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073455">Weekly Calendar Screen<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>13</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073456">Scrolling (up and down)<span
                style='color:windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>14</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073457">Reserving Time<span style='color:
windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>14</span></a></p>

    <p class=MsoToc1><a href="#_Toc121073458">5.<span style='font-family:"Calibri",sans-serif;
color:windowtext;text-decoration:none'>      </span>Homework<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>15</span></a></p>

    <p class=MsoToc1><a href="#_Toc121073459">6.<span style='font-family:"Calibri",sans-serif;
color:windowtext;text-decoration:none'>      </span>Maintaining your Schedule<span
                style='color:windowtext;display:none;text-decoration:none'>. </span><span
                style='color:windowtext;display:none;text-decoration:none'>15</span></a></p>

    <p class=MsoToc2><a href="#_Toc121073460">Managing your Semester Calendar<span
                style='color:windowtext;display:none;text-decoration:none'> </span><span
                style='color:windowtext;display:none;text-decoration:none'>15</span></a></p>

    <p class=MsoNormal>&nbsp;</p>

    <h1><a name="_Toc121073417">1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span>For New Users</a></h1>

    <h2><a name="_Toc121073418">Overview</a></h2>

    <p class=MsoNormal>This application is to help you stay on top of your tasks
        and making sure you get your work done for this semester.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073419">The Theory</a></h2>

    <p class=MsoNormal>“A to-do list without to-do times rarely gets completed” –
        Attach specific time to work on known tasks to ensure successful completion.
        Practice with estimating how much time you expect your work to take to
        complete.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>“Work in progress is the productivity killer” – This tool is
        to help you get your tasks off your plate so you can focus time on what you
        want or need.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>“Making visible” your work and free time – When you are
        aware of what you need to do and what time you must do it in you can use your
        focus time more effectively.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2>Why Student Schedule Manager?</h2>

    <p class=MsoNormal>Student Schedule Manager helps you architect your time on a
        weekly basis for the next few months.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Other tools are too noisy, have too many additional
        features, and often include notifications and reminders which can add to the
        stress of managing your time. This tool does one thing and does it well.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073420">Login</a></h2>

    <p class=MsoNormal>When you navigate to the Student Schedule Manager homepage,
        you begin on the Login screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=381 height=206 id="Picture 26"
                        src="../../public/images/userGuide//image002.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>If you already have a username and password, enter them, and
        hit Submit to login.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>If you do not have an account yet, use the Create Account
        button to navigate to the Create Account screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>If you try to login with a username that does not exist, you
        will be notified.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=327 height=133 id="Picture 27"
                        src="../../public/images/userGuide//image003.png"
                        alt="Graphical user interface&#10;&#10;Description automatically generated"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>If you give an incorrect password for an existing username,
        then you will be notified.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=338 height=149 id="Picture 28"
                        src="../../public/images/userGuide//image004.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073421">Create Account</a></h2>

    <p class=MsoNormal>The Create Account screen is where you register for an
        account.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=366 height=199 id="Picture 29"
                        src="../../public/images/userGuide//image005.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Enter your username, email address, and password and then
        hit Submit. You will use your username and password to login to the
        application.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>If you Submit a username that is already taken, you will
        receive a notification and you cannot proceed.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:solid windowtext 1.0pt;
padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=324 height=148 id="Picture 30"
                        src="../../public/images/userGuide//image006.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>If you Submit an email address that is already taken, you
        will receive a notification and you cannot proceed.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=429 height=153 id="Picture 31"
                        src="../../public/images/userGuide//image007.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073422">Dashboard Layout</a></h2>

    <p class=MsoNormal>Once you Login to the application, you are taken to the
        Dashboard screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=494 height=153 id="Picture 32"
                        src="../../public/images/userGuide//image008.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073423">Dashboard Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Click this anywhere in the application to take you to the Dashboard
        Screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073424">MMC Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Click this anywhere in the application to take you to the MultiMonth
        Calendar Screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073425">WTL Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Click this anywhere in the application to take you to the Weekly Task
        List Screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073426">WC Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Click this anywhere in the application to take you to the Weekly
        Calendar Screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073427">Logout Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Click this anywhere in the application to Logout of your current session.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>&nbsp;</p>

    <h1><a name="_Toc121073428">2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span>Create a new MultiMonth Calendar</a></h1>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>The (multimonth) semester is the period that this
        application will help you manage your time through</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073429">The 10,000-ft View</a></h2>

    <p class=MsoNormal>By giving yourself a concrete start and end time, you have
        an anchor to compare your progress to. Both where you started and where you are
        going.</p>

    <p class=MsoNormal><b>&nbsp;</b></p>

    <p class=MsoNormal>This is your 10,000ft view of the next several weeks. Every
        day you move the marker forward a little more. It’s recommended to view this
        just a couple times each week</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073430">Create a New MultiMonth Calendar</a></h2>

    <p class=MsoNormal>Navigate to the MMC Screen</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=174 height=64 id="Picture 2"
                        src="../../public/images/userGuide//image009.png"
                        alt="A picture containing graphical user interface&#10;&#10;Description automatically generated">
                </p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>In the middle of the screen, you will see fields to enter
        dates and a title and then a button that says “Submit.”</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=225 height=142 id="Picture 1"
                        src="../../public/images/userGuide//image010.png"
                        alt="Graphical user interface, application&#10;&#10;Description automatically generated">
                </p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>Feel free to check your university’s semester calendar for
        this information. Make sure these are correct, these will be your starting and
        ending goalposts for this period.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Once you have entered the information, click “Submit” and
        you will be taken to the MultiMonth Calendar screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073431">MultiMonth Calendar Screen</a></h2>

    <p class=MsoNormal>The MultiMonth Calendar screen is a calendar representation
        of the semester ahead of you.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=480 height=237 id="Picture 3"
                        src="../../public/images/userGuide//image011.png"></p>
                <p class=MsoNormal align=center style='text-align:center'><img width=477 height=63 id="Picture 4"
                        src="../../public/images/userGuide//image012.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>You can scroll all the way from the top to the bottom. You
        can check each day as completed.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Notice you are bounded by your start and end dates. This
        application is focused on helping you manage your time through the end of this
        semester period and nothing more. When the semester is over, celebrate!</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073432">MultiMonth Calendar Navigation</a></h2>

    <p class=MsoNormal>The top of the MultiMonth Calendar shows the title you have
        given to the time period as well as 4 buttons.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=610 height=107 id="Picture 9"
                        src="../../public/images/userGuide//image013.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073433">Delete MMC Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>If you want to delete the current MultiMonth Calendar, then click this
        button. You will be asked if you are sure, and if yes, the calendar will be
        deleted.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073434">Check All Days Button</a></h3>

    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>When you click this button, it automatically checks off all available
        days on the MMC prior to today. This cannot be undone.</p>

    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You must Save MMC to DB to persist this update to the online database.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073435">Edit Daily Info Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You can click this button to enable the information fields on each day
        of the calendar. You can then enter daily information and then you must come
        back and choose Save Daily Info for the data to be saved.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=215 height=72 id="Picture 10"
                        src="../../public/images/userGuide//image014.png"></p>
            </td>
            <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=214 height=69 id="Picture 11"
                        src="../../public/images/userGuide//image015.png"></p>
            </td>
        </tr>
        <tr>
            <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=222 height=169 id="Picture 12"
                        src="../../public/images/userGuide//image016.png"></p>
            </td>
            <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=219 height=166 id="Picture 13"
                        src="../../public/images/userGuide//image017.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073436">Save MMC to DB Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You must click this button and choose to confirm to persist any changes
        you have made to the MultiMonth calendar to the online database for future use.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073437">Daily Completion Checkboxes</a></h2>

    <p class=MsoNormal>You will see that each of the days has a checkbox in it. Any
        day that is before today you can check off as complete. Any day today or after,
        you cannot click the checkbox.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b>CHECKED</b></p>
                <p class=MsoNormal align=center style='text-align:center'><img width=219 height=165 id="Picture 5"
                        src="../../public/images/userGuide//image018.png"></p>
            </td>
            <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b>UNCHECKED</b></p>
                <p class=MsoNormal align=center style='text-align:center'><img width=223 height=166 id="Picture 6"
                        src="../../public/images/userGuide//image019.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>You will see a few checkboxes from yesterday and a few days
        before that you can check. Click on them.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Each day that you complete, you can check off a box for that
        day. If you skip a few days, you can come back and still check them off. And once
        they are checked you cannot uncheck them. Just like real life!</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>This daily completion is not impacted by tasks you are
        tracking. If you make it to tomorrow, you can check off the box for today. It’s
        as simple as that.</p>

    <h1><a name="_Toc121073438">3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span>Weekly Task List</a></h1>

    <p class=MsoNormal>Now that you have set up your semester calendar, it’s time
        to jump into the crux of what this application is really about. Tasks. Specific
        stuff you need to get done.</p>

    <p class=MsoNormal style='margin-left:.25in'>&nbsp;</p>

    <p class=MsoNormal>Now, to-do lists often get a bad rap. The sentence below
        sums it up.</p>

    <p class=MsoQuote>“A to-do list without to-do times rarely gets completed.”</p>

    <p class=MsoNormal>What this application will do is help you identify what
        tasks you need to get done. Then it will help you pick specific time during the
        week to focus on doing that task.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Gone are the days of waiting for a notification to tell you that
        you are behind on getting your work done. When you sit down and plan out your
        week, you give yourself a roadmap. You know, AND have control over, where you
        are going for the week.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>By setting aside specific time to focus on getting your work
        done</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073439">What is a task?</a></h2>

    <p class=MsoNormal>A <i>specific</i> “thing” that you must complete. A succinct
        description of what you need to complete and deliver.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Examples of poorly written tasks:</p>

    <p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-indent:-.25in'><span
            style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span>Do the project</p>

    <p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-indent:-.25in'><span
            style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span>Homework for class</p>

    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Examples of better written tasks:</p>

    <p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-indent:-.25in'><span
            style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span>Project Deliverable 1 – Write the essay and send to classmates</p>

    <p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-indent:-.25in'><span
            style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span>Project Deliverable 1 – Analyze survey data and generate the 5
        tables</p>

    <p class=MsoListParagraphCxSpLast style='margin-left:1.0in;text-indent:-.25in'><span
            style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
            </span></span>CSCI5927 – Complete Homework 3 and submit to Dropbox</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>This description should give you enough information to
        understand what needs to be delivered.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073440">Weekly Task List Screen</a></h2>

    <p class=MsoNormal>Navigate to the Weekly Task List Screen</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=213 height=66 id="Picture 14"
                        src="../../public/images/userGuide//image020.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073441">Weekly Task List Navigation</a></h2>

    <p class=MsoNormal>At the top of the Weekly Task List Screen you will see 2
        buttons.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=607 height=111 id="Picture 15"
                        src="../../public/images/userGuide//image021.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073442">Save List to DB Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You must click this button and choose to confirm to persist any changes
        you have made to the Weekly Task List to the online database for future use.
        You will be prompted to confirm the save to the database.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073443">Add Category Button</a></h3>

    <p class=MsoListParagraph style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You click this button when you want to add a new Task Category to the
        Weekly Task List. You will be prompted to give a name to the category.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073444">The List</a></h2>

    <p class=MsoNormal>In the body of the task list, you will see a few categories
        with example tasks in them</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=454 height=266 id="Picture 16"
                        src="../../public/images/userGuide//image022.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073445">Task Categories</a></h2>

    <p class=MsoNormal>A task category is a grouping for your tasks. Automatically,
        task groupings are added for the classes that you added in the Semester
        Calendar Screen.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Task categories are persistent throughout the semester
        unless you delete them.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>You can add new task categories by choosing the “Add new
        task category” on the right of the screen. You will be prompted to enter the
        category name. Select confirm and there is now a new grouping that you can add
        tasks to.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=218 height=66 id="Picture 17"
                        src="../../public/images/userGuide//image023.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Each task belongs to a task category.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073446">Tasks</a></h2>

    <p class=MsoNormal>Tasks are the meat of this application. They are what you
        need to get done, that we are going to help you complete.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Each task belongs to a category. You can add new tasks by
        clicking the “Add Task” under each category heading.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=339 height=146 id="Picture 18"
                        src="../../public/images/userGuide//image024.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>When you create a new task, you are prompted to type in a
        short name (that will show up in the list). Once you confirm the addition of
        the task to the list, the task will be at the bottom of that category list. You
        will then have the option to add focus time (datetime), expected duration
        (numeric) and the option to add a due date (date).</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073447">Interaction Tutorial</a></h2>

    <h3><a name="_Toc121073448">Edit Category Button</a></h3>

    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>To edit the name of the category, click on the Edit button in the
        respective category section. This enables the name to be edited. Click Save to
        save the name change.</p>

    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You must Save List to DB to persist the change to the online database.</p>

    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=282 height=123 id="Picture 19"
                        src="../../public/images/userGuide//image025.png"></p>
            </td>
            <td width=312 valign=top style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=319 height=100 id="Picture 20"
                        src="../../public/images/userGuide//image026.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073449">Delete Category Button</a></h3>

    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Click this button to delete the task category. You will be prompted to
        confirm. When you do, the category will be removed.</p>

    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You must Save List to DB to persist this change to the online database.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073450">Edit Task Button</a></h3>

    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Click this button to delete the task category. You will be prompted to
        confirm. When you do, the category will be removed.</p>

    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You must Save List to DB to persist this change to the online database.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b>SAVED</b></p>
                <p class=MsoNormal align=center style='text-align:center'><img width=599 height=60 id="Picture 21"
                        src="../../public/images/userGuide//image027.png"></p>
            </td>
        </tr>
        <tr>
            <td width=623 valign=top style='width:467.5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><b>EDITING</b></p>
                <p class=MsoNormal align=center style='text-align:center'><img width=609 height=92 id="Picture 22"
                        src="../../public/images/userGuide//image028.png"
                        alt="Graphical user interface, text, application&#10;&#10;Description automatically generated">
                </p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <h3><a name="_Toc121073451">Delete Task Button</a></h3>

    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Click this button to delete the task category. You will be prompted to
        confirm. When you do, the category will be removed.</p>

    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'>-<span
            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>You must Save List to DB to persist this change to the online database.</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073452">Colors</a></h2>

    <p class=MsoNormal><s>We associate different colors with different emotions.
            The colors here were chosen to elicit an emotional response in return to what
            they represent</s></p>

    <p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'><s>-<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></s><s>Orange – due dates are a light orange. Orange often represents
            danger or warning, and here it is meant to, hopefully not too loudly, remind
            you of the deadline for when the task should be completed. It is ALWAYS orange
            and does not change to orange to indicate danger.</s></p>

    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><s>-<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></s><s>Green – scheduled focus time is green. Green represents
            positivity and “it’s go time” and here it is meant to associate positive,
            energetic feelings with doing yourself a favor and scheduling specific time to
            sit down and focus fully on a task</s></p>

    <p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in'><s>-<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></s><s>Yellow – unscheduled focus time is yellow. Yellow represents
            urgency and is meant to remind you that if you don’t schedule time to work on
            the task, there’s a good chance it won’t get done (or will get done at the very
            last minute).</s></p>

    <p class=MsoListParagraphCxSpLast style='text-indent:-.25in'><s>-<span
                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></s><s>Pink – completed tasks are highlighted in pink. Pink has a pop and
            comfort to it and is meant to help you feel satisfied for completing a job well
            done</s></p>

    <p class=MsoNormal>&nbsp;</p>

    <span style='font-size:11.0pt;font-family:"Times New Roman",serif'><br clear=all
            style='page-break-before:always'>
    </span>

    <p class=MsoNormal>&nbsp;</p>

    <h1><a name="_Toc121073453">4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span>Weekly Calendar</a></h1>

    <p class=MsoNormal>The Weekly Calendar will show what time you have reserved
        and what time you have free for the coming week.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>You come back here when you want to figure out what time
        would be best to work on something and to actually see what time you have taken
        up during the week with “responsibilities”</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073454">Making Work, School, and Free Time Visible</a></h2>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>This is the top-down view of your next 7 days. This is your
        control room for understanding what time you have reserved already, and what
        time you have “FREE” to fill with focus time to work on school tasks, or maybe
        even leave it completely free.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>This calendar takes information on your work schedule, your
        class schedule, any other reserved time you may have, and then it will show
        free time.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Some of this free time will be taken up by specific time to
        work on school-related tasks, but for now, it’s your FREE time!</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>At any time, you can update your work schedule, your class
        schedule, or any other reserved time on the Weekly Calendar.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>It’s recommended to view this multiple times each week,
        especially during days you intend to work (if you have time that you are taking
        off, don’t bother)</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073455">Weekly Calendar Screen</a></h2>

    <p class=MsoNormal>Navigate to the Weekly Calendar Screen</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=169 height=56 id="Picture 23"
                        src="../../public/images/userGuide//image029.png"></p>
            </td>
        </tr>
    </table>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>The Weekly Calendar Screen shows the 7 days of the week
        broken apart by hours in the day. This is what you will use to understand what
        work and free time you have.</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=587 height=243 id="Picture 24"
                        src="../../public/images/userGuide//image030.png"></p>
            </td>
        </tr>
    </table>

    <h2><a name="_Toc121073456">Scrolling (up and down)</a></h2>

    <p class=MsoNormal>You will notice that you can scroll up and down. You can see
        all 24 hours each day.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>By default, it is focused on using 12am as the start time to
        center your view, and shows the next 24 hours, in 1-hour increments. </p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073457">Reserving Time</a></h2>

    <p class=MsoNormal>Click on a specific hour during the day to reserve that time.
        The time highlighted in dark green is reserved. The time highlighted in light
        green is free!</p>

    <p class=MsoNormal>&nbsp;</p>

    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr>
            <td width=623 valign=top style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><img width=369 height=286 id="Picture 25"
                        src="../../public/images/userGuide/image031.png"></p>
            </td>
        </tr>
    </table>

    <span style='font-size:11.0pt;font-family:"Times New Roman",serif'><br clear=all
            style='page-break-before:always'>
    </span>

    <p class=MsoNormal><span style='font-size:16.0pt;font-family:"Calibri Light",sans-serif;
color:#2F5496'>&nbsp;</span></p>

    <h1><a name="_Toc121073458">5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span>Homework</a></h1>

    <p class=MsoNormal>Go Forth and build your task list for this coming week with
        any information you currently have</p>

    <h1><a name="_Toc121073459">6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
            </span>Maintaining your Schedule</a></h1>

    <p class=MsoNormal>Now that you have completed the tutorial (or skipped it
        because you believe you can pick the mechanics up quick enough on the go), we
        move into the management phase</p>

    <p class=MsoNormal>&nbsp;</p>

    <h2><a name="_Toc121073460">Managing your Semester Calendar</a></h2>

    <p class=MsoNormal>As the semester progresses, remember to revisit the semester
        calendar, and check off any days that you have completed.</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>You can add new daily information or remove daily
        information as you wish throughout the semester</p>

    <p class=MsoNormal>&nbsp;</p>

    <p class=MsoNormal>Watch satisfyingly as you approach your end goal!</p>

</div>