@import "../css/index.css";

input:disabled {
    border: none;
    color: #000;
    background-color: transparent;
}

.taskCategoryDiv {
    background-color: lightpink;
    border-style: solid;
}

.taskDiv {
    background-color: lightgreen;
    text-indent: 50px;
    border-style: dotted;
}

.weeklyTaskListDisplay {
    background-color: lightyellow;
    border-style: solid;
}

.weeklyTaskListBodyDiv {
    background-color: lightblue;
    border-radius: 20px;
}

#weeklyTaskListBodyDiv {
    background: lightblue;
    border-radius: 20px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 20px; 
    box-shadow: 10px 10px 10px;
}

.weeklyTaskListBodyDisplayDiv {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


.categoryHeader {
    color: red;
}


h1 {
    color: blue;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.taskCategory {
    background: lightblue;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.taskItem {
    background: lightyellow;
    overflow-wrap: normal; 
}

.done {
    background: pink;
}


.box {
    display: flex;
}

.doneDiv {
    flex: 1 1 auto;
}

.wtlButton {
    font-size: 0.7vw;
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: lightskyblue;
    text-align: center;
    font-weight: bold;
    width: 5vw;
    height: 4vh;
    z-index: 6;
}

.wtlButton.deleteButton:hover {
    background-color: lightpink;
}
.wtlButton:hover {
    background-color: lightgreen;
}

