@import "../css/index.css";

input:disabled {
    border: none;
    color: #000;
    background-color: transparent;
}

.taskCategoryDiv {
    background-color: lightpink;
    border-style: solid;
}

.taskDiv {
    background-color: lightgreen;
    text-indent: 50px;
    border-style: dotted;
}

.weeklyTaskListDisplay {
    background-color: lightyellow;
    border-style: solid;
}

.weeklyTaskListBodyDiv {
    background-color: lightblue;
    border-radius: 20px;
}

#weeklyTaskListBodyDiv {
    background: lightblue;
    border-radius: 20px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 20px; 
    box-shadow: 10px 10px 10px;
}

.weeklyTaskListBodyDisplayDiv {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}




h1 {
    color: blue;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.taskCategory {
    background: lightblue;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.taskItem {
    background: lightyellow;
    overflow-wrap: normal; 
}

.done {
    background: pink;
}


.box {
    display: flex;
}

.doneDiv {
    flex: 1 1 auto;
}
