@import "../css/index.css";


input:disabled {
    border: none;
    color: #000;
    background-color: transparent;
}

.taskCategoryDiv {
    background-color: lightpink;
    border-style: solid;
}

.taskDiv {
    background-color: lightgreen;
    text-indent: 50px;
    border-style: dotted;
}

.weeklyTaskListDisplay {
    background-color: lightyellow;
    border-style: solid;
}

.weeklyTaskListBodyDiv {
    background-color: lightblue;
    border-radius: 20px;
}

#weeklyTaskListDiv {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#weeklyTaskListBodyDiv {
    background: rgb(203, 222, 245);
    border-radius: 20px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 20px; 
    padding-left: 2vw;
    padding-right: 2vw;
    box-shadow: 5px 5px 5px 5px black;
}

.weeklyTaskListBodyDisplayDiv {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}


.categoryHeader {
    color: black;
}


h1 {
    color: blue;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.taskCategory {
    background: lightblue;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 3px black;
}

.taskItem {
    background: lightyellow;
}

.done {
    background: pink;
}


.box {
    display: flex;
}

.doneDiv {
    flex: 1 1 auto;
}

.wtlButton {
    font-size: 0.7vw;
    background-color: whitesmoke;
    border-radius: 5px;
    border-color: lightskyblue;
    text-align: center;
    font-weight: bold;
    width: 5vw;
    height: 4vh;
    z-index: 6;
}

.wtlButton.deleteButton:hover {
    background-color: lightpink;
}
.wtlButton:hover {
    background-color: lightgreen;
}

input.categoryHeader {
    font-weight: bold;
    font-size: 3vh;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: dotted;
    border-width: 1px;
}

#appDiv {
    height: 75vh;
    overflow: auto;
}

textarea:disabled {
    background-color: none;
    resize: none;
    border: none;
    color: black;
}