<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/multiMonthCalendar/multiMonthCalendar.css"/>
    <%- include('../partials/_bootstrapCssCDNLink'); %>
    <title>Multi-Month Calendar</title>
</head>
<body>
    <%- include('../partials/_headerLoggedIn'); %>

    <div id = "appDiv" class = "appDiv flex-container">
        <div id="multiMonthCalendarDiv" class = "align-items-center"></div>
    </div>

    <%- include('../partials/_bootstrapJsCDNLink'); %>
    <script src="../../public/multiMonthCalendar/multiMonthCalendar.DisplayManager.js"></script>
</body>
</html>